<div class="banner" style="text-align:center">
    <h3>
      {{title}}
    </h3>
    <div class="Sbook-container" >
      <div class="Sbook-form">
         <form #form="ngForm"(ngSubmit)="onSubmit()" ><!-- -->
          
          
  
    <div class="form-group">
         <label for="">Title</label>&nbsp;
        <input type="text" name="title" placeholder ="Enter Title" [(ngModel)]="book.bookName">
      </div>
      <br>
      <div class="form-group">
        <label for="">Author</label>&nbsp;
       <input type="text" name="title" placeholder ="Enter author name" [(ngModel)]="user.userName">
     </div>
     <br>
     <div class="form-group">
        <label for="">Publisher</label>&nbsp;
       <input type="text" name="title" placeholder ="Enter Publisher" [(ngModel)]="book.publisher">
     </div>
     <br>
     <div class="form-group">
        <label for="">Published Date</label>&nbsp;
       <input type="text" name="title" placeholder ="Enter Released Date" [(ngModel)]="book.publishedDate">
     </div>
   <br>
   <div class="form-group">
   <button mat-button> Search </button>
 </div>
 </form>
 <div class="book-grid" *ngIf="books.length>0" >
  <div class="book-row">
     <div class="book-row-details" > <!-- *ngIf="books.length>0;els" -->
          <table class="table table-bordered">
              <thead>
                  <th>Book Name</th>
                  <th>Price</th>
                  <th>Publisher</th>
                    <th>publishedDate</th>
                  <th>Procced to Buy</th>
              </thead>
              <tbody *ngFor="let book of books" >
                  <tr>
                      <td>{{ book.bookName }}</td>
                      <td>{{ book.price }}</td>
                      <td>{{ book.publisher }}</td>
                        <td>{{ book.publishedDate }}</td>
                      <td>
                      
                      <button class="Button" type="submit">Buy<i class="ffa fa-cart-plus"></i></button>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
      </div>
      </div>
  