<div class="toolbar" role="banner">
  <img
    width="40"
    height="40"
    alt="Angular Logo"
    src="https://archinect.imgix.net/uploads/oj/ojnwgyv9um4gzgdg.JPG?auto=compress%2Cformat" />
  <nav>
    <tr>
      <span>DigitalBook</span>
      <br><br>
         <div>
            <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">SearchBooks</a>
            &nbsp; &nbsp; &nbsp;
            </div>
          <br>
            <div>
  <a routerLink="/SignUp" routerLinkActive="active" ariaCurrentWhenActive="page">RegestartionPage</a>   
  &nbsp; &nbsp; &nbsp;
</div>
<br>
      <div>
<a routerLink="/Login" routerLinkActive="active" ariaCurrentWhenActive="page">LoginPage</a>   &nbsp;&nbsp;&nbsp;
</div>
    <br>
    <div>
<a routerLink="/Publish" routerLinkActive="active" ariaCurrentWhenActive="page">AddBook</a>   &nbsp;&nbsp;&nbsp;
</div>
<br>
<div>
<a routerLink="/Reader" routerLinkActive="active" ariaCurrentWhenActive="page">Reader</a>   &nbsp;&nbsp;&nbsp;
</div>
  </tr>
  </nav>
<router-outlet></router-outlet>